
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa tarkastelemaan drinkkien raaka-aineita!</h1>
        
<!-- Tässä listataan ainekset niiden essintymiskertoineen ja tarjotaan mahdollisuus niiden lisäämiseen.
Koodi on kopio Materiaalin luvun 4.1 alusta.-->

        <ul>
            <li th:each="esiintymiskerrat : ${kerrat}">
                
                <span th:text="${esiintymiskerrat}">Kerrat per aine</span> 
            </li>
        </ul>

        <h2>Lisaa aines</h2>

        <form method="POST" action="/ainekset">
            <span>Raaka-aine:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisaa valikoimaan!"/>
        </form>
        
<!--Tässä alkuperäinen koodi vielä varmuuden vuoksi:
        <ol>
            <li th:each="opiskelija: ${opiskelijat}">
                <span th:text="${opiskelija.nimi}">opiskelijan nimi</span> <a th:href="${'/opiskelijat/' + opiskelija.id}">linkki</a>
            </li>
        </ol>
-->
    </body>

</html>