<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkkivinkit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drinkit</h1>
<!-- tässä pitää säätää niin että linkit ohjaavat kunkin drinkin omalle "DrinkkiOhje"-sivulle. APUJA?
Koodi on kopio Materiaalin luvun 4.4 lopusta.-->
        <ul>
            <li th:each="drinkki : ${drinkit}">
                <a th:href="@{~/drinkki/{id}(id=${drinkki.id})}">
                    <span th:text="${drinkki.nimi}">Drinksu</span>
                </a>
            </li>
        </ul>

        <h2>Lisaa uusi drinkki:</h2>

        <form method="POST" action="/drinkit">
            <span>Drinkki:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää aines"/>
        </form>
     </body>
    
    
</html>